/*--------------------------------------------------
    [SASS PLACEHOLDER]
----------------------------------------------------*/
/* Carousel Title */
.carousel .carousel-title-v1, .carousel .carousel-title-v2, .carousel .carousel-title-v3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.4; }

/* Carousel Subtitle */
.carousel .carousel-subtitle-v1, .carousel .carousel-subtitle-v2, .carousel .carousel-subtitle-v3 {
  font-size: 21px;
  font-weight: 600; }

/* Carousel Position Left */
.carousel .carousel-position-one, .carousel .carousel-position-two, .carousel .carousel-position-three {
  position: absolute;
  left: auto; }

/*--------------------------------------------------
	[PLACEHOLDER]
----------------------------------------------------*/
/*--------------------------------------------------
	[BUTTON VARIANT]
----------------------------------------------------*/
/*--------------------------------------------------
	[HEADING]
----------------------------------------------------*/
/*--------------------------------------------------
	[HEADING LEFT]
----------------------------------------------------*/
/*--------------------------------------------------
	[TRANSITION]
----------------------------------------------------*/
/* Cubic Bezier Transition */
/* Opacity Transition */
/* Translate 3D Transition */
/*--------------------------------------------------
	[PAGE HEADER]
----------------------------------------------------*/
/* Page on Scroll */
.page-on-scroll .page-header {
  background: #fff;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .page-on-scroll .page-header .navbar {
    background: inherit; }

.page-header {
  padding: 0;
  margin: 0;
  border-bottom: none;
  /* Navbar */
  /* Navbar Toggle */
  /* Navbar Brand */
  /* Navbar Nav */ }
  .page-header .navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: transparent;
    transition-duration: 100ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .page-header .navbar-toggle {
    border: none;
    margin: 25px 15px 25px 0; }
    .page-header .navbar-toggle .icon-bar {
      background: #3f5263; }
  .page-header .navbar-brand {
    height: 82px;
    max-height: 82px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .page-header .navbar-brand img {
      width: 115px;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      vertical-align: middle; }
  .page-header .navbar-nav li {
    padding: 25px 1px;
    line-height: 20px;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .page-header .navbar-nav li > a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: #fff; }
  .page-header .navbar-nav li.active > a,
  .page-header .navbar-nav li > a:hover {
    border: 1px solid rgba(255, 255, 255, 0.1); }
  .page-header .navbar-nav li > a:focus,
  .page-header .navbar-nav li > a:hover {
    background: inherit; }

/* Responsive code for max-width: 991px */
@media (max-width: 991px) {
  /* 991px */
  .page-header .navbar-header {
    float: none; }
  .page-header .navbar-toggle {
    display: block; }
  .page-header .navbar-collapse.collapse {
    display: none !important; }
  .page-header .navbar-collapse.collapse.in {
    display: block !important;
    overflow-y: auto !important; }
  .page-header .navbar-nav {
    margin: 0;
    float: none !important; }
    .page-header .navbar-nav > li {
      float: none; } }
/* Stylesheet design for under max-width: 991px */
@media (max-width: 991px) {
  /* 991px */
  body {
    padding-top: 80px; }

  .page-header {
    background: #fff;
    /* Navbar Brand */ }
    .page-header .navbar-fixed-top {
      background: #fff; }
      .page-header .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
        /* Navbar */ }
        .page-header .navbar-fixed-top .navbar-collapse .navbar-nav li {
          padding: 0;
          float: none; }
        .page-header .navbar-fixed-top .navbar-collapse .navbar-nav li > a {
          font-weight: 700;
          color: #3f5263; }
        .page-header .navbar-fixed-top .navbar-collapse .navbar-nav li.active > a,
        .page-header .navbar-fixed-top .navbar-collapse .navbar-nav li > a:hover {
          color: #bf5757; }
    .page-header img.logo-default {
      display: none; } }
/* Stylesheet design for above 992px */
@media (min-width: 992px) {
  /* 992px */
  .page-header {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
    position: fixed;
    /* Navbar Brand */
    /* Navbar Nav */ }
    .page-header .navbar-brand img.logo-scroll {
      display: none; }
    .page-header .navbar-nav {
      float: right; }
      .page-header .navbar-nav li > a {
        padding: 5px 12px; } }
/* Stylesheet design on Scroll (Fixed Header) 992px */
@media (min-width: 992px) {
  /* 992px */
  .page-on-scroll .page-header {
    /* Navbar Brand */
    /* Navbar Nav */ }
    .page-on-scroll .page-header .navbar-brand {
      height: 70px;
      max-height: 70px;
      line-height: 49px;
      transition-duration: 400ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
      .page-on-scroll .page-header .navbar-brand img.logo-scroll {
        display: block; }
      .page-on-scroll .page-header .navbar-brand img.logo-default {
        display: none; }
    .page-on-scroll .page-header .navbar-nav li {
      padding: 19px 1px;
      transition-duration: 400ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .page-on-scroll .page-header .navbar-nav li > a {
      color: #3f5263; }
    .page-on-scroll .page-header .navbar-nav li.active > a,
    .page-on-scroll .page-header .navbar-nav li > a:hover {
      border: 1px solid #e5e5e5; } }
/*--------------------------------------------------
	[PAGE CONTENT]
----------------------------------------------------*/
/* Body */
a:focus {
  outline: none; }

.page-header-fixed {
  margin-top: 0; }

/* go2top */
.go2top,
.go2top:focus {
  right: 15px;
  bottom: 8px;
  width: 38px;
  height: 38px;
  z-index: 9999;
  line-height: 1;
  font-size: 18px;
  position: fixed;
  text-align: center;
  border-radius: 50%;
  padding: 7px 0 0 1px;
  background: transparent;
  color: #3f5263;
  border: solid 2px #3f5263; }
  .go2top:hover,
  .go2top:focus:hover {
    color: #fff;
    background: #3f5263;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/*--------------------------------------------------
	[FORM CONTROL]
----------------------------------------------------*/
/* Set displays an element as in inline0level flex container */
.form-wrap {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle; }

.form-wrap-group {
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

/* Focus stylesheet effect for 'input' */
.form-control {
  color: #97a7b4;
  font-size: 17px;
  font-weight: 300;
  min-width: 100px;
  min-height: 50px;
  border-radius: 0;
  box-shadow: none;
  border-color: #3b4e5f;
  background: transparent; }
  .form-control:-moz-placeholder {
    color: #516473; }
  .form-control::-moz-placeholder {
    color: #516473; }
  .form-control:-ms-input-placeholder {
    color: #516473; }
  .form-control::-webkit-input-placeholder {
    color: #516473; }
  .form-control:focus {
    box-shadow: none;
    border-color: #3b4e5f; }

/* Media Queries */
@media (max-width: 768px) {
  .form-wrap,
  .form-wrap-group {
    display: block;
    margin: 0 auto;
    text-align: center; }
    .form-wrap .form-control,
    .form-wrap-group .form-control {
      margin-bottom: 10px; }

  .btn-red {
    width: 100%;
    display: block; } }
@media (min-width: 768px) {
  .border-left-transparent .form-control {
    border-left: transparent; }

  .border-top-transparent.form-control {
    border-top: transparent; } }
/* No Space Row */
.no-space-row {
  padding: 0 30px; }

.no-space-row [class^="col-"],
.no-space-row [class*="col-"] {
  padding: 0; }

@media (max-width: 767px) {
  .no-space-row [class^="col-"],
  .no-space-row [class*="col-"] {
    padding: 0 15px; } }
/*--------------------------------------------------
	[BUTTONS]
----------------------------------------------------*/
/* Button Bordered */
.btn-brd-white {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 9px 15px;
  font-size: 14px;
  background: transparent;
  line-height: 1.5;
  border-radius: 0;
  border: 2px solid #fff !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-white:focus, .btn-brd-white:active:focus, .btn-brd-white.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-white:hover, .btn-brd-white:focus {
    text-decoration: none;
    color: #3f5263;
    background: #fff;
    border-color: #fff;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-brd-white.btn-lg {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  background: transparent;
  line-height: 1.4;
  border-radius: 0;
  border: 2px solid #fff !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-white.btn-lg:focus, .btn-brd-white.btn-lg:active:focus, .btn-brd-white.btn-lg.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-white.btn-lg:hover, .btn-brd-white.btn-lg:focus {
    text-decoration: none;
    color: #3f5263;
    background: #fff;
    border-color: #fff;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-brd-white.btn-md {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 14px;
  font-size: 15px;
  background: transparent;
  line-height: 1.35;
  border-radius: 0;
  border: 2px solid #fff !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-white.btn-md:focus, .btn-brd-white.btn-md:active:focus, .btn-brd-white.btn-md.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-white.btn-md:hover, .btn-brd-white.btn-md:focus {
    text-decoration: none;
    color: #3f5263;
    background: #fff;
    border-color: #fff;
    transition-duration: 1ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-brd-white.btn-sm {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 9px 12px;
  font-size: 13px;
  background: transparent;
  line-height: 1.3;
  border-radius: 0;
  border: 2px solid #fff !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-white.btn-sm:focus, .btn-brd-white.btn-sm:active:focus, .btn-brd-white.btn-sm.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-white.btn-sm:hover, .btn-brd-white.btn-sm:focus {
    text-decoration: none;
    color: #3f5263;
    background: #fff;
    border-color: #fff;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/* Button Bordered Primary */
.btn-brd-primary {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3f5263;
  padding: 9px 15px;
  font-size: 14px;
  background: transparent;
  line-height: 1.4;
  border-radius: 0;
  border: 2px solid #3f5263 !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-primary:focus, .btn-brd-primary:active:focus, .btn-brd-primary.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-primary:hover, .btn-brd-primary:focus {
    text-decoration: none;
    color: #fff;
    background: #3f5263;
    border-color: #3f5263;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-brd-primary.btn-lg {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3f5263;
  padding: 12px 20px;
  font-size: 18px;
  background: transparent;
  line-height: 1.4;
  border-radius: 0;
  border: 2px solid #3f5263 !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-primary.btn-lg:focus, .btn-brd-primary.btn-lg:active:focus, .btn-brd-primary.btn-lg.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-primary.btn-lg:hover, .btn-brd-primary.btn-lg:focus {
    text-decoration: none;
    color: #fff;
    background: #3f5263;
    border-color: #3f5263;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-brd-primary.btn-md {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3f5263;
  padding: 14px;
  font-size: 15px;
  background: transparent;
  line-height: 1.35;
  border-radius: 0;
  border: 2px solid #3f5263 !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-primary.btn-md:focus, .btn-brd-primary.btn-md:active:focus, .btn-brd-primary.btn-md.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-primary.btn-md:hover, .btn-brd-primary.btn-md:focus {
    text-decoration: none;
    color: #fff;
    background: #3f5263;
    border-color: #3f5263;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-brd-primary.btn-sm {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3f5263;
  padding: 9px 12px;
  font-size: 13px;
  background: transparent;
  line-height: 1.3;
  border-radius: 0;
  border: 2px solid #3f5263 !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-primary.btn-sm:focus, .btn-brd-primary.btn-sm:active:focus, .btn-brd-primary.btn-sm.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-primary.btn-sm:hover, .btn-brd-primary.btn-sm:focus {
    text-decoration: none;
    color: #fff;
    background: #3f5263;
    border-color: #3f5263;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/* Button Danger */
.btn-danger {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 9px 15px;
  font-size: 14px;
  background: #d15d5d;
  line-height: 1.4;
  border-radius: 0;
  border: 2px solid #d15d5d !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-danger:hover, .btn-danger:focus {
    text-decoration: none;
    color: #fff;
    background: #bf5757;
    border-color: #d15d5d;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-danger.btn-lg {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  background: #d15d5d;
  line-height: 1.4;
  border-radius: 0;
  border: 2px solid #d15d5d !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-danger.btn-lg:focus, .btn-danger.btn-lg:active:focus, .btn-danger.btn-lg.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-danger.btn-lg:hover, .btn-danger.btn-lg:focus {
    text-decoration: none;
    color: #fff;
    background: #bf5757;
    border-color: #d15d5d;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-danger.btn-md {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 13px;
  font-size: 15px;
  background: #d15d5d;
  line-height: 1.35;
  border-radius: 0;
  border: 2px solid #d15d5d !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-danger.btn-md:focus, .btn-danger.btn-md:active:focus, .btn-danger.btn-md.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-danger.btn-md:hover, .btn-danger.btn-md:focus {
    text-decoration: none;
    color: #fff;
    background: #bf5757;
    border-color: #d15d5d;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-danger.btn-sm {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 9px 12px;
  font-size: 13px;
  background: #d15d5d;
  line-height: 1.3;
  border-radius: 0;
  border: 2px solid #d15d5d !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-danger.btn-sm:focus, .btn-danger.btn-sm:active:focus, .btn-danger.btn-sm.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-danger.btn-sm:hover, .btn-danger.btn-sm:focus {
    text-decoration: none;
    color: #fff;
    background: #bf5757;
    border-color: #d15d5d;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/* Button Bordered Danger */
.btn-brd-danger {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d15d5d;
  padding: 9px 15px;
  font-size: 14px;
  background: transparent;
  line-height: 1.4;
  border-radius: 0;
  border: 2px solid #d15d5d !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-danger:focus, .btn-brd-danger:active:focus, .btn-brd-danger.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-danger:hover, .btn-brd-danger:focus {
    text-decoration: none;
    color: #fff;
    background: #d15d5d;
    border-color: #d15d5d;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-brd-danger.btn-lg {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d15d5d;
  padding: 12px 20px;
  font-size: 18px;
  background: transparent;
  line-height: 1.4;
  border-radius: 0;
  border: 2px solid #d15d5d !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-danger.btn-lg:focus, .btn-brd-danger.btn-lg:active:focus, .btn-brd-danger.btn-lg.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-danger.btn-lg:hover, .btn-brd-danger.btn-lg:focus {
    text-decoration: none;
    color: #fff;
    background: #d15d5d;
    border-color: #d15d5d;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-brd-danger.btn-md {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d15d5d;
  padding: 14px;
  font-size: 15px;
  background: transparent;
  line-height: 1.35;
  border-radius: 0;
  border: 2px solid #d15d5d !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-danger.btn-md:focus, .btn-brd-danger.btn-md:active:focus, .btn-brd-danger.btn-md.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-danger.btn-md:hover, .btn-brd-danger.btn-md:focus {
    text-decoration: none;
    color: #fff;
    background: #d15d5d;
    border-color: #d15d5d;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

.btn-brd-danger.btn-sm {
  display: inline-block;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d15d5d;
  padding: 9px 12px;
  font-size: 13px;
  background: transparent;
  line-height: 1.3;
  border-radius: 0;
  border: 2px solid #d15d5d !important;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-brd-danger.btn-sm:focus, .btn-brd-danger.btn-sm:active:focus, .btn-brd-danger.btn-sm.active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-brd-danger.btn-sm:hover, .btn-brd-danger.btn-sm:focus {
    text-decoration: none;
    color: #fff;
    background: #d15d5d;
    border-color: #d15d5d;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/*--------------------------------------------------
	[SPACES]
----------------------------------------------------*/
/* 'margin-bottom' Space */
.margin-bottom-5 {
  margin-bottom: 5px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-bottom-25 {
  margin-bottom: 25px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-bottom-35 {
  margin-bottom: 35px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.margin-bottom-45 {
  margin-bottom: 45px !important; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.margin-bottom-55 {
  margin-bottom: 55px !important; }

.margin-bottom-60 {
  margin-bottom: 60px !important; }

.margin-bottom-65 {
  margin-bottom: 65px !important; }

.margin-bottom-70 {
  margin-bottom: 70px !important; }

.margin-bottom-75 {
  margin-bottom: 75px !important; }

.margin-bottom-80 {
  margin-bottom: 80px !important; }

.margin-bottom-85 {
  margin-bottom: 85px !important; }

.margin-bottom-90 {
  margin-bottom: 90px !important; }

.margin-bottom-95 {
  margin-bottom: 95px !important; }

.margin-bottom-100 {
  margin-bottom: 100px !important; }

/* 'margin-bottom' Space for tablet view */
@media (max-width: 992px) {
  .md-margin-bottom-5 {
    margin-bottom: 5px !important; }

  .md-margin-bottom-10 {
    margin-bottom: 10px !important; }

  .md-margin-bottom-15 {
    margin-bottom: 15px !important; }

  .md-margin-bottom-20 {
    margin-bottom: 20px !important; }

  .md-margin-bottom-25 {
    margin-bottom: 25px !important; }

  .md-margin-bottom-30 {
    margin-bottom: 30px !important; }

  .md-margin-bottom-35 {
    margin-bottom: 35px !important; }

  .md-margin-bottom-40 {
    margin-bottom: 40px !important; }

  .md-margin-bottom-45 {
    margin-bottom: 45px !important; }

  .md-margin-bottom-50 {
    margin-bottom: 50px !important; }

  .md-margin-bottom-55 {
    margin-bottom: 55px !important; }

  .md-margin-bottom-60 {
    margin-bottom: 60px !important; }

  .md-margin-bottom-65 {
    margin-bottom: 65px !important; }

  .md-margin-bottom-70 {
    margin-bottom: 70px !important; }

  .md-margin-bottom-75 {
    margin-bottom: 75px !important; }

  .md-margin-bottom-80 {
    margin-bottom: 80px !important; }

  .md-margin-bottom-85 {
    margin-bottom: 85px !important; }

  .md-margin-bottom-90 {
    margin-bottom: 90px !important; }

  .md-margin-bottom-95 {
    margin-bottom: 95px !important; }

  .md-margin-bottom-100 {
    margin-bottom: 100px !important; } }
/* 'margin-bottom' Space for mobile view */
@media (max-width: 768px) {
  .sm-margin-bottom-5 {
    margin-bottom: 5px !important; }

  .sm-margin-bottom-10 {
    margin-bottom: 10px !important; }

  .sm-margin-bottom-15 {
    margin-bottom: 15px !important; }

  .sm-margin-bottom-20 {
    margin-bottom: 20px !important; }

  .sm-margin-bottom-25 {
    margin-bottom: 25px !important; }

  .sm-margin-bottom-30 {
    margin-bottom: 30px !important; }

  .sm-margin-bottom-35 {
    margin-bottom: 35px !important; }

  .sm-margin-bottom-40 {
    margin-bottom: 40px !important; }

  .sm-margin-bottom-45 {
    margin-bottom: 45px !important; }

  .sm-margin-bottom-50 {
    margin-bottom: 50px !important; }

  .sm-margin-bottom-55 {
    margin-bottom: 55px !important; }

  .sm-margin-bottom-60 {
    margin-bottom: 60px !important; }

  .sm-margin-bottom-65 {
    margin-bottom: 65px !important; }

  .sm-margin-bottom-70 {
    margin-bottom: 70px !important; }

  .sm-margin-bottom-75 {
    margin-bottom: 75px !important; }

  .sm-margin-bottom-80 {
    margin-bottom: 80px !important; }

  .sm-margin-bottom-85 {
    margin-bottom: 85px !important; }

  .sm-margin-bottom-90 {
    margin-bottom: 90px !important; }

  .sm-margin-bottom-95 {
    margin-bottom: 95px !important; }

  .sm-margin-bottom-100 {
    margin-bottom: 100px !important; } }
/*--------------------------------------------------
	[HEADING]
----------------------------------------------------*/
.heading {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 100px; }
  .heading:after {
    left: 50%;
    height: 3px;
    width: 50px;
    content: " ";
    bottom: -50px;
    margin-left: -25px;
    position: absolute;
    background: #bf5757; }
  .heading h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #3f5263; }
  .heading p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #8693a7; }

.heading-light {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 100px; }
  .heading-light:after {
    left: 50%;
    height: 3px;
    width: 50px;
    content: " ";
    bottom: -50px;
    margin-left: -25px;
    position: absolute;
    background: #bf5757; }
  .heading-light h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #fff; }
  .heading-light p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #8693a7; }

.heading-blue {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 100px; }
  .heading-blue:after {
    left: 50%;
    height: 3px;
    width: 50px;
    content: " ";
    bottom: -50px;
    margin-left: -25px;
    position: absolute;
    background: #1b7685; }
  .heading-blue h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #fff; }
  .heading-blue p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #9ddde7; }

/*--------------------------------------------------
	[HEADING LEFT]
----------------------------------------------------*/
.heading-left {
  z-index: 1;
  margin-bottom: 30px; }
  .heading-left h2 {
    font-size: 30px;
    margin: 0 0 20px;
    color: #3f5263;
    text-transform: capitalize; }
  .heading-left p {
    color: #8693a7;
    font-size: 16px;
    letter-spacing: 0.5px; }

.heading-left-light {
  z-index: 1;
  margin-bottom: 30px; }
  .heading-left-light h2 {
    font-size: 30px;
    margin: 0 0 20px;
    color: #fff;
    text-transform: capitalize; }
  .heading-left-light p {
    color: #8693a7;
    font-size: 16px;
    letter-spacing: 0.5px; }

/*--------------------------------------------------
	[SUBSCRIBE]
----------------------------------------------------*/
.subscribe {
  padding: 42px 0;
  background: #2c3a46;
  /* Subscribe Wrapper */
  /* Input Field */ }
  .subscribe .subscribe-wrap {
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle; }
  .subscribe .subscribe-body {
    clear: both;
    height: 100%;
    display: table-cell;
    vertical-align: middle; }
  .subscribe .subscribe-desc {
    max-width: 550px;
    padding-right: 20px; }
    .subscribe .subscribe-desc h1 {
      font-size: 30px;
      margin: 0 0 10px;
      letter-spacing: 2px;
      color: #fff; }
    .subscribe .subscribe-desc p {
      color: #5d7283;
      font-size: 19px;
      font-weight: 300;
      margin-bottom: 0; }
  .subscribe .input-field {
    float: right; }

@media (max-width: 768px) {
  .subscribe {
    padding: 30px 0; }
    .subscribe .subscribe-wrap,
    .subscribe .subscribe-body {
      display: block;
      margin: 0 auto;
      text-align: center; }
    .subscribe .input-field {
      float: none;
      display: block;
      margin: 0 auto;
      text-align: center; }
      .subscribe .input-field .form-control {
        min-height: 40px; }
      .subscribe .input-field .btn-danger.btn-md {
        font-size: 14px;
        padding: 10px; }
    .subscribe .subscribe-desc h1 {
      font-size: 25px;
      letter-spacing: 2px; }
    .subscribe .subscribe-desc p {
      font-size: 16px; } }
/*--------------------------------------------------
	[SERVICES]
----------------------------------------------------*/
.service-bg {
  padding-top: 130px;
  padding-bottom: 80px; }
  .service-bg .services {
    margin: 0 auto;
    text-align: center; }
    .service-bg .services h2 {
      font-size: 23px;
      margin: 0 0 10px;
      line-height: 1.4;
      text-transform: capitalize;
      color: #3f5263; }
    .service-bg .services p {
      font-size: 16px;
      color: #8693a7; }
    .service-bg .services .services-wrap {
      width: 100px;
      height: 100px;
      display: table;
      text-align: center;
      position: relative;
      margin: 0 auto 70px;
      vertical-align: middle; }
      .service-bg .services .services-wrap:before {
        top: -40px;
        left: -40px;
        right: -40px;
        bottom: -40px;
        content: " ";
        border-radius: 50%;
        position: absolute;
        border: 1px solid #e8ecf1; }
      .service-bg .services .services-wrap img {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        text-align: center; }
    .service-bg .services .service-body {
      height: 100%;
      display: table-cell;
      vertical-align: middle; }

/*--------------------------------------------------
	[FEATURES]
----------------------------------------------------*/
.features-bg {
  padding: 100px 0 100px 0;
  background: #f7fafd; }
  .features-bg .features {
    overflow: hidden; }
    .features-bg .features img {
      width: 300px;
      height: auto;
      float: left;
      margin-right: 15px; }
    .features-bg .features .features-in {
      overflow: hidden; }
      .features-bg .features .features-in h3 {
        font-size: 23px;
        font-weight: 500;
        text-transform: capitalize; }
        .features-bg .features .features-in h3 a {
          color: #3f5263; }
        .features-bg .features .features-in h3 a:hover {
          color: #bf5757;
          text-decoration: none; }
      .features-bg .features .features-in p {
        color: #8693a7; }

@media (max-width: 480px) {
  .features-bg .features img {
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px; } }
/*--------------------------------------------------
	[TEAM]
----------------------------------------------------*/
.team-bg {
  z-index: 1;
  height: auto;
  overflow: hidden;
  padding: 100px 0 100px 0;
  background: url(../../../assets/onepage2/img/bg/bg_parallax.jpg) 50% 0 fixed;
  background-size: cover;
  background-position: center center;
  /* Team Members */
  /* Team About */ }
  .team-bg .team-members {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px; }
    .team-bg .team-members .team-avatar {
      position: relative; }
      .team-bg .team-members .team-avatar:after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: " ";
        position: absolute;
        background: rgba(129, 129, 129, 0.1);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
      .team-bg .team-members .team-avatar img {
        display: block;
        margin: 0 auto;
        text-align: center; }
    .team-bg .team-members .team-desc {
      left: auto;
      bottom: 0;
      width: 100%;
      padding: 0 20px;
      position: absolute;
      opacity: 0;
      color: #fff;
      -webkit-transform: translate3d(0, 10%, 0);
      transform: translate3d(0, 10%, 0);
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .team-bg .team-members .team-desc .team-details {
        float: left; }
        .team-bg .team-members .team-desc .team-details h4 {
          font-size: 22px;
          font-weight: 600;
          margin: 0 0 10px;
          color: #fff; }
        .team-bg .team-members .team-desc .team-details span {
          display: block;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          color: #fff; }
      .team-bg .team-members .team-desc .team-socials {
        right: 20px;
        bottom: 0;
        margin: 0;
        padding: 0;
        text-align: right;
        list-style: none;
        position: absolute; }
        .team-bg .team-members .team-desc .team-socials li {
          padding: 0 3px;
          display: inline-block; }
          .team-bg .team-members .team-desc .team-socials li a {
            text-decoration: none; }
            .team-bg .team-members .team-desc .team-socials li a i {
              font-size: 20px;
              color: #fff; }
              .team-bg .team-members .team-desc .team-socials li a i:hover {
                color: #d15d5d; }
    .team-bg .team-members:hover .team-avatar:after {
      background: rgba(47, 60, 72, 0.5);
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .team-bg .team-members:hover .team-desc {
      -webkit-transform: translate3d(0, -5%, 0);
      transform: translate3d(0, -5%, 0);
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0); }
    .team-bg .team-members:hover .team-desc {
      opacity: 1;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
  .team-bg .team-about {
    padding: 30px;
    background: rgba(129, 129, 129, 0.1); }
    .team-bg .team-about h3 {
      color: #d4d9de;
      font-size: 20px;
      margin: 0 0 10px;
      text-transform: capitalize; }
    .team-bg .team-about p {
      color: #8693a7; }

/* Stylesheet design for above 992px */
@media (min-width: 992px) {
  /* 992px */
  .team-about {
    min-height: 495px; } }
/*--------------------------------------------------
	[CLIENTS]
----------------------------------------------------*/
.clients {
  /* Clients Quotes */ }
  .clients .clients-bg {
    padding-top: 100px;
    background: #3194a4;
    /* Owl Carousel */ }
    .clients .clients-bg .owl-carousel {
      text-align: center; }
      .clients .clients-bg .owl-carousel .item {
        cursor: pointer; }
        .clients .clients-bg .owl-carousel .item img {
          display: block;
          text-align: center;
          width: 140px !important;
          height: auto;
          margin: 0 auto 40px;
          opacity: .35; }
        .clients .clients-bg .owl-carousel .item:hover img {
          opacity: 1; }
      .clients .clients-bg .owl-carousel .active.center .item img {
        opacity: 1; }
  .clients .clients-quotes {
    text-align: center;
    position: relative;
    background: #f7fafd;
    padding: 40px 0 100px; }
    .clients .clients-quotes:before {
      top: -3px;
      left: 50%;
      width: 0;
      height: 0;
      content: " ";
      position: absolute;
      margin-left: -15px;
      border-style: solid;
      border-width: 15px 15px 0 15px;
      border-color: #3194a4 transparent transparent transparent; }
    .clients .clients-quotes .client-quote {
      display: none;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
      .clients .clients-quotes .client-quote.active {
        display: block;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
      .clients .clients-quotes .client-quote p {
        padding: 0 20%;
        font-size: 19px;
        margin-bottom: 25px;
        color: #8693a7; }
      .clients .clients-quotes .client-quote h4 {
        color: #5f6f77;
        font-size: 20px;
        margin: 0 0 10px; }
      .clients .clients-quotes .client-quote span {
        font-size: 14px;
        text-transform: uppercase;
        color: #bf5757; }

/*--------------------------------------------------
	[PORTFOLIO]
----------------------------------------------------*/
.portfolio {
  padding: 100px 0 100px 0; }

/*--------------------------------------------------
	[PRICING]
----------------------------------------------------*/
.pricing-bg {
  padding: 100px 0 100px 0;
  background: #f7fafd;
  /* Prcing Red */ }
  .pricing-bg .pricing {
    padding: 50px;
    text-align: center;
    border: 2px solid #aebcc7; }
    .pricing-bg .pricing img {
      width: 60px;
      height: auto;
      margin-bottom: 30px; }
    .pricing-bg .pricing h4 {
      font-size: 27px;
      margin: 0 0 15px;
      color: #3f5263; }
    .pricing-bg .pricing span {
      display: block;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      color: #3f5263; }
    .pricing-bg .pricing .pricing-features {
      padding: 0;
      margin: 35px 0;
      list-style: none; }
      .pricing-bg .pricing .pricing-features li {
        padding: 3px 0;
        font-size: 16px;
        text-transform: capitalize;
        color: #8693a7; }
  .pricing-bg .pricing-red {
    border: none;
    padding: 80px 0;
    background: #d15d5d; }
    .pricing-bg .pricing-red h4,
    .pricing-bg .pricing-red span {
      color: #fff; }
    .pricing-bg .pricing-red .pricing-features li {
      color: #f7a0a0; }

/* Stylesheet design for above 992px */
@media (min-width: 992px) {
  /* 992px */
  /* Prcing Red */
  .pricing {
    margin-top: 50px; }

  .pricing-red {
    margin-top: 20px; }

  .pricing.no-right-brd {
    border-right: none; }

  .pricing.no-left-brd {
    border-left: none; } }
/*--------------------------------------------------
	[FOOTER]
----------------------------------------------------*/
.footer {
  background: #2c3a46;
  padding: 100px 0 100px 0; }

/*--------------------------------------------------
	[FOOTER COPYRIGHT]
----------------------------------------------------*/
.footer-copyright {
  padding: 50px 0;
  text-align: center;
  background: #25303a; }
  .footer-copyright h3 {
    font-size: 30px;
    margin: 0 0 40px;
    text-transform: uppercase;
    color: #fff; }
  .footer-copyright p {
    margin-bottom: 0;
    color: #8693a7; }
  .footer-copyright .copyright-socials {
    padding: 0;
    margin-bottom: 40px;
    list-style: none; }
    .footer-copyright .copyright-socials li {
      padding: 0 3px;
      display: inline-block; }
      .footer-copyright .copyright-socials li i {
        width: 35px;
        height: 35px;
        padding: 10px;
        color: #4a5a69;
        font-size: 16px;
        text-align: center;
        background: #2b3641;
        display: inline-block; }
        .footer-copyright .copyright-socials li i:hover {
          background: #303c47;
          color: #fff;
          transition-duration: 400ms;
          transition-property: all;
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/*--------------------------------------------------
	[CUBEPORTFOLIO]
----------------------------------------------------*/
/* Popup Wrap */
.cbp-popup-wrap {
  z-index: 9999 !important; }

.cube-portfolio {
  /* Filter */
  /* Caption Effects */
  /* Portfolio Icons */ }
  .cube-portfolio .cbp-l-filters-alignCenter .cbp-filter-item {
    font-size: 14px;
    padding: 6px 15px;
    text-transform: uppercase;
    color: #3f5263; }
    .cube-portfolio .cbp-l-filters-alignCenter .cbp-filter-item:hover {
      color: #fff;
      background: #3f5263; }
  .cube-portfolio .cbp-l-filters-alignCenter .cbp-filter-item-active {
    color: #fff;
    background: #3f5263; }
  .cube-portfolio .cbp-caption .cbp-caption-hover-gradient {
    position: relative; }
    .cube-portfolio .cbp-caption .cbp-caption-hover-gradient:before {
      width: 100%;
      height: 100%;
      content: " ";
      position: absolute;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .cube-portfolio .cbp-caption .cbp-caption-hover-gradient:after {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      content: " ";
      position: absolute;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .cube-portfolio .cbp-caption:hover .cbp-caption-hover-gradient:before {
    opacity: .8;
    background: #3f5263; }
  .cube-portfolio .cbp-caption:hover .cbp-caption-hover-gradient:after {
    border: 2px solid #fff; }
  .cube-portfolio .cbp-caption .cbp-caption-activeWrap {
    background: inherit; }
  .cube-portfolio .portfolio-icons i {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    color: #3f5263;
    background: #fff;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .cube-portfolio .portfolio-icons i:hover {
      color: #fff;
      background: #d15d5d;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/*--------------------------------------------------
    [Bootstrap Carousel]
----------------------------------------------------*/
/* Set displays an element as in inline-level flex container */
.center-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.center-block-wrap {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle; }

.center-block-body {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.carousel {
  /* Carousel Item Background Images */
  /* Carousel Titles */
  /* Carousel Subtitles */
  /* Carousel Positions */
  /* Carousel Animation Delay */ }
  .carousel .carousel-indicators {
    bottom: 0; }
  .carousel .carousel-caption {
    left: auto;
    right: auto;
    bottom: auto;
    text-shadow: none;
    text-align: inherit;
    padding: 0; }
  .carousel .carousel-control.right, .carousel .carousel-control.left {
    background-image: none; }
  .carousel .item {
    width: 100%;
    height: 100%;
    min-height: 580px; }
  .carousel .carousel-item-one {
    background: url(../../../assets/onepage2/img/bg/fondo1.jpg);
    background-size: cover;
    background-position: center center; }
  .carousel .carousel-item-two {
    background: url(../../../assets/onepage2/img/bg/fondo2.jpg);
    background-size: cover;
    background-position: center center; }
  .carousel .carousel-item-three {
    background: url(../../../assets/onepage2/img/bg/prox2.jpg);
    background-size: cover;
    background-position: center center; }
  .carousel .carousel-title-v1 {
    color: #fff; }
  .carousel .carousel-title-v2 {
    color: #fff; }
  .carousel .carousel-title-v3 {
    color: #bf5757; }
  .carousel .carousel-subtitle-v1 {
    color: #80d0de; }
  .carousel .carousel-subtitle-v2 {
    color: #a8c6d6; }
  .carousel .carousel-subtitle-v3 {
    color: #a8c6d6; }
  .carousel .carousel-position-one {
    top: 25%; }
  .carousel .carousel-position-two {
    top: 45%; }
  .carousel .carousel-position-three {
    top: 62%; }
  .carousel .carousel-caption .animate-delay {
    animation-delay: 1s; }

/* Stylesheet design for under max-width: 768px */
@media (max-width: 768px) {
  /* 768px */
  .carousel .carousel-title-v1 {
    font-size: 40px; }
  .carousel .carousel-title-v2,
  .carousel .carousel-title-v3 {
    font-size: 30px; }
  .carousel .carousel-subtitle-v1 {
    font-size: 18px; } }
